body{
    text-align: center;
    text-decoration: solid;
    background-color: black;
    color: purple;
    text-transform: capitalize;
}
img{
   height: 420px;
   right: 240px;
}
h3{
    color: bisque;
}
p{
    text-transform: uppercase;
    color: bisque;
}